# This file contains common pin mappings for Kywoo3d V1.3
# boards. They are based on the MKS Robin Nano V2.  They used the GD32F303 processor but to use this config, the firmware should be compiled for the
# STM32F103. When running "make menuconfig", enable "extra low-level
# configuration setup", select the 28KiB bootloader. Check disable SWD at startup (for Gigadevices). Serial (on
# USART3 on PB10/PB11) communication.  Set Baud Rate to 250000.
# Choose Q to quit and Y to save.  Run make clean command followed by make.
# After running make, run the following script:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano35.bin.
# Copy the file out/Robin_nano35.bin to an SD card (2 or 4GB formatted as FAT32) and then restart the
# printer with that SD card.
# If USB connection issues ocurr this may be due to driver conflicts with the CH340C chip.
#
# NOTE: Flashing MAY be unsucessful if stock LCD is not connected but should be disconnected once sucessfull flashing has been confirmed.
# It MIGHT interfere with USB stability.
# LCD will not work with Klipper however and you will know flashing was sucessful if "Booting" message remains on LCD after restart.
# If firmware will not flash try reflashing with stock Marlin firmware, then boot into Marlin UI and initialize EEPROM in settings.
#
# If MCU will not connect or has instability this issue may be due to USB disconnects due to driver conflict with BRLTTY and/or USB Auto-Suspend.  
# Printer.cfg MUST include "baud: 250000" in MCU section (or whichever baud rate you selected in make menuconfig)




[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
baud: 250000
restart_method: command


[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 4500
max_z_velocity: 25
max_z_accel: 100


[stepper_x]
step_pin: PE3
dir_pin: !PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
endstop_pin: PA15
position_endstop: 0
position_max: 300
homing_speed: 50


[stepper_y]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 40
endstop_pin: !PA12
position_endstop: 0
position_max: 300
homing_speed: 50


[stepper_z]
step_pin: PB5
dir_pin: PB4
enable_pin: !PB8
microsteps: 16
rotation_distance: 8
endstop_pin: !PA11
position_endstop: 0.5
position_max: 200


[extruder]
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: pid
pid_Kp: 14.669
pid_Ki: 0.572
pid_Kd: 94.068
min_temp: 0
max_temp: 250


[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
control: pid
pid_Kp: 325.10
pid_Ki: 63.35
pid_Kd: 417.10
min_temp: 0
max_temp: 130


[heater_fan hotend_fan]
pin: PB1
heater: extruder
heater_temp: 50.0


[fan]
pin: PB0


[filament_switch_sensor runout]
pause_on_runout: True
switch_pin: PA4

[probe]
pin: PA8
x_offset: 29
y_offset: 0
z_offset: -1.6


[safe_z_home]
#home_xy_position: -4, -6
home_xy_position: 0, 0
speed: 70
z_hop: 10
z_hop_speed: 10
move_to_previous: False


[bed_mesh]
speed: 60
horizontal_move_z: 5
mesh_min: 20, 0
mesh_max: 230, 230
algorithm: bicubic
bicubic_tension: 0.5
probe_count: 11, 11
fade_start: 1
fade_end: 10
fade_target: 0


[neopixel my_neopixel_1]
pin: PB2
chain_count: 1  # Number of Neopixels in the chain
color_order: GRB  # Most Neopixels use GRB format; change if yours are different


[neopixel my_neopixel_2]
pin: PD8
chain_count: 1  # Number of Neopixels in the chain
color_order: GRB  # Most Neopixels use GRB format; change if yours are different


[neopixel my_neopixel_3]
pin: PD9
chain_count: 1  # Number of Neopixels in the chain
color_order: GRB  # Most Neopixels use GRB format; change if yours are different


[neopixel my_neopixel_4]
pin: PD10
chain_count: 1  # Number of Neopixels in the chain
color_order: GRB  # Most Neopixels use GRB format; change if yours are different


[neopixel my_neopixel_5]
pin: PD11
chain_count: 1  # Number of Neopixels in the chain
color_order: GRB  # Most Neopixels use GRB format; change if yours are different


[input_shaper]
#shaper_type_x = mzv
#shaper_freq_x = 0
#shaper_type_y = mzv
#shaper_freq_y = 0
